<div class="hero absolute inset-0 bg-base-200">
  <div class="hero-content text-center">
    <div class="w-full">
     <ul>
        <li><%= link_to '思い出を綴る', new_episode_path, class: 'btn btn-primary' %></li>
        <li><%= link_to '思い出を覗く', episodes_path, class: 'btn btn-secondary' %></li>
      </ul>
    </div>
  </div>
</div>

