<div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Tsuduri</h1>
      <p class="py-6">原稿用紙一枚分の物語を共有する。</p>
      <%= button_to "思い出を綴る", { controller: "episodes", action: "new"}, class: "btn btn-primary", method: :get %>
      </br>
      <%= button_to "思い出を覗く", { controller: "episodes", action: "index"}, class: "btn btn-primary", method: :get %>
    </div>
  </div>
</div>

