<h1>いいねランキング</h1>

<% if @ranking.any? %>
  <ol>
    <% @ranking.each_with_index do |episode, index| %>
      <li><%= link_to "#{index + 1}. #{episode.title} (#{episode.likes_count}いいね)", episode_path(episode) %></li>
    <% end %>
  </ol>
<% else %>
  <p>いいねされたエピソードはありません。</p>
<% end %>
