<% if @episodes.any? %>
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-10 mx-auto">
      <div class="flex flex-wrap -m-4">
      <%= render @episodes %>
      </div>
    </div>
  </section>
<% end %>

<div class="mx-auto my-1 text-center">
  <%= paginate @episodes %>
</div>
